@(strings: Seq[String])

@views.html.main("No Helpers, simple field Example", "addRemove", "simpleNoIndices-ex1") {
	<p>
		You can use [] without any numbers if the field you're submitting is a list of one type of simple object, like strings, numbers or some other primitive. As indicated by repeatedFoo example 3, you can't submit nested (case class) objects like this.
	</p>
	@helper.form(routes.RepeatedSimpleController.whatWasPosted) {
		<div ui="container">
		@if(strings.isEmpty) {
			<div ui="row">
				<input type="text" name="strings[]">
				<a ui="remove" href="#">Remove</a>
			</div>
		}
		@strings.map { string =>
			<div ui="row">
				<input type="text" name="strings[]" value="@string">
				<a ui="remove" href="#">Remove</a>
			</div>	
		}
		</div>
		<a ui="add" href="#">Add New Row</a>
		<button>Submit</button>
	}
}
