@()
<dl>
	<dt>Repeated Foo's</dt>
	<dd>
		<ol>
			<li>
				<a href="@routes.RepeatedFooController.example1()">
					Example 1: Generating an empty form from no data</li>
				</a>
			</li>
			<li>
				<a href="@routes.RepeatedFooController.example2()">
					Example 2: Indexes in field names don't matter as long as they're consistent</li>
				</a>
			</li>
			<li>
				<a href="@routes.RepeatedFooController.example3()">
					Example 3: No indices at all in field names for complex mappings doesn't work</li>
				</a>
			</li>
		</ol>
	</dd>
	<dt>Does [] work for simple fields?</dt>
	<dd>
		<ol>
			<li>
				<a href="@routes.RepeatedSimpleController.example1()">
					Example 1: Simple fields can be sent without indices
				</a>
			</li>
		</ol>
	</dd>
</dl>